*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-family: 'Roboto', 'Arial', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--base-family);
}

.header {
  background-color: #131417;
  padding-top: 17px;
  padding-bottom: 17px;
  box-shadow: 0 4px 4px rgba(19, 20, 23, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-shrink: 0;
}

.header__logo {
  margin-right: 20px;
}

.logo__pic {
  display: block;
}

.nav {}

.nav__list {
  display: flex;
  list-style-type: none;
}

.nav__item {
  margin-right: 40px;
}

.nav__link {
  display: block;
  text-decoration: none;
  font: 18px/24px var(--base-family);
  color: #FAFAFA;
  padding: 8px 18px;
  white-space: nowrap;
  position: relative;
}

.nav__item--drop {
  position: relative;
}

.nav__item--drop:hover>.nav__inner-wrap {
  opacity: 1;
  visibility: visible;
}

.nav__inner-item--drop>.nav__inner-link::after,
.nav__item--drop>.nav__link::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #F2994A;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  transition: transform 0.2s ease-in;
  position: absolute;
}

.nav__inner-wrap {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease;
  position: absolute;
  list-style-type: none;
  z-index: 5;
}

.nav__inner-wrap--1 {
  top: 100%;
  left: 0;
  width: 320px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 20px;

}

.nav__inner-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__inner-link {
  display: block;
  text-decoration: none;
  font: 16px/24px var(--base-family);
  color: #FAFAFA;
  padding: 8px 18px;
  margin-right: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.nav__inner-item:hover:first-child {
  border-radius: 8px 8px 0 0;
}

.nav__inner-item:hover:last-child {
  border-radius: 0 0 8px 8px;
}

.nav__inner-list {
  list-style-type: none;
  background-color: #252830;
  border-radius: 8px;
  position: relative;
}

.nav__inner-wrap--1::before {
  content: "";
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #252830;
  top: 7px;
  left: 45px;
  position: absolute;
}

.nav__inner-wrap--2::before {
  content: "";
  border-top: 14px solid transparent;
  border-right: 14px solid #252830;
  border-bottom: 14px solid transparent;
  top: 45px;
  left: 7px;
  position: absolute;
}

.nav__inner-wrap--1>.nav__inner-list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav__inner-item--drop:hover>.nav__inner-wrap {
  opacity: 1;
  visibility: visible;
}

.nav__inner-wrap--2 {
  left: 100%;
  width: 220px;
  bottom: 0;
  padding-left: 20px;
}


.header__phone {
  text-decoration: none;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  padding: 8px;
  white-space: nowrap;
  margin-right: 20px;
}

.header__phone-icon {
  margin-right: 10px;
  display: block;
}

.header__burger {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: 0;
}

.header__burger span{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 20px;
  left: 50%;
  background-color: #fff;
}

.header__burger span::before,
.header__burger span::after{
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(6px);
  background-color: #fff;
  transition: transform .2s ease;
}

.header__burger span::after{
  transform: translateY(-6px);
}

.header__burger._active span{
  background-color: transparent;
}

.header__burger._active span::before{
  transform: translateY(0) rotate(45deg);
}
.header__burger._active span::after{
  transform: translateY(0) rotate(-45deg);
}



.main {
  position: relative;
  min-height: 100%;
  background-image: url(../img/alpaca.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  background-color: rgba(19, 20, 23, 0.5);
  position: absolute;
  z-index: 1;
  inset: 0;
  display: none;
}


@media (min-width:1000px) {
  .nav__link:hover {
    color: #EB5757;
  }

  .nav__inner-item:hover {
    background-color: #131417;
  }
  .nav__inner-item--drop:hover>.nav__inner-link::after {
    transform: translateY(-50%) rotate(-90deg);
  }
  
  .nav__item--drop:hover>.nav__link::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

@media (max-width:1000px) {
  .nav__item {
    margin-right: 10px;
  }
}

@media (max-width:880px) {
  .overlay {
    display: block;
  }

  .nav {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 375px;
    overflow: auto;
    background-color: #131417;
    transform: translateX(100%);
    opacity: 0;
    transition: transform, opacity .2s ease;
  }

  .nav._active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav__item,
  .nav__item--drop {
    margin-right: 0;
  }

  .nav__inner-item:not(:last-child) {
    border: 0;
  }

  .nav__inner-link,
  .nav__link {
    border-bottom: 1px solid #131417;
  }

  .nav__link {
    padding: 19px 18px;
    white-space: normal;
  }

  .nav__inner-link {
    white-space: normal;
  }

  .nav__list {
    display: block;
    background-color: #252830;
  }

  .nav__inner-wrap {
    position: static;
    display: none;
    width: auto;
    visibility: visible;
    opacity: 1;
  }
  .nav__inner-wrap._active{
    display: block;
  }

  .nav__inner-wrap--1::before,
  .nav__inner-wrap--2::before {
    border: 0;
    display: none;
  }

  .header__burger {
    display: block;
  }

  .nav__inner-wrap--1 {
    padding-top: 0;
  }

  .nav__inner-wrap--2 {
    padding-left: 0;
    opacity: 1;
    visibility: visible;
  }

  .nav__inner-list {
    border-radius: 0;
  }

  .nav__inner-link {
    margin-right: 0;
    padding: 19px 18px;
    display: flex;
    align-items: center;

  }

  .nav__item--drop::after {
    right: 200px;
    top: 23px;
  }

  .nav__link._active {
    background-color: #131417;
  }

  .nav__inner-item--drop > .nav__inner-link::after,
  .nav__item--drop > .nav__link::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #F2994A;
  transform: none;
  position: static;
  margin-left: 10px;
}

.nav__inner-item--drop > .nav__inner-link,
.nav__item--drop > .nav__link{
  display: flex;
  align-items: center;
}

.nav__item--drop._active>.nav__link::after,
.nav__inner-item--drop._active>.nav__inner-link::after {
  transform: rotate(180deg);
}




  @media (max-width:576px) {
    .nav {
      width: 100%;
    }

    .header__phone {
      margin-right: 0;
      margin-left: auto;
    }

    .header__phone span {
      display: none;
    }
    .header__container{
      justify-content: flex-start;
    }
  }
}